/* ESTILO GERAL */
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Anton", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: #555555;
  height: 100vh;
}
.interface {
  max-width: 1280px;
  margin: 0 auto;
}

.flex {
  display: flex;
}

.btn-contato button {
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

h2.titulo {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

h2.titulo span {
  color: black;
}

button:hover,
form .btn-enviar input:hover {
  box-shadow: 0px 0px 8px #ffffff;
  transform: scale(1.05);
}

/* ESTILO DO CABEÇALHO */
header {
  padding: 40px 4%;
}

header > .interface {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}


header a:hover {
  color: #000000;
  transform: scale(1.05);
}

header nav ul {
  list-style-type: none;
}

header nav.menu-desktop ul li {
  display: inline-block;
  padding: 0 40px;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
  padding: 40px 4%;
}

section.topo-do-site .flex {
  align-items: center;
  justify-content: center;
  gap: 100px;
}

.topo-do-site h1 {
  color: #fff;
  font-size: 35px;
  line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
  color: rgb(0, 0, 0);
}

.topo-do-site .txt-topo-site p {
  color: #000000;
  margin: 40px 0;
}

.topo-do-site .img-topo-site img {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

.topo-do-site .txt-topo-site .btn-contato button {
  transition: 0.2s;
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades-box {
  padding: 30px 4%;
}
section.especialidades .flex {
  gap: 60px;
}

.especialidades .especialidades-box {
  color: #ffffff;
  padding: 40px;
  border: 2px solid #ffffff75;
  border-radius: 20px;
  margin-top: 40px;
  transition: 0.2s;
}

.especialidades .especialidades-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #ffffff;
}

.especialidades .especialidades-box i {
  font-size: 50px;
  color: black;
}

.especialidades .especialidades-box h3 {
  font-size: 25px;
  margin: 15px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
  padding: 90px 4%;
}

section.sobre .flex {
  align-items: center;
  gap: 60px;
}

.sobre .txt-sobre {
  color: #000000;
}

.sobre .txt-sobre h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.sobre .txt-sobre h2 span {
  color: #ffffff;
  display: block;
}

.sobre .txt-sobre p {
  margin: 20px 0;
  text-align: justify;
}

.sobre .txt-sobre .btn-social button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background-color: #fff;
  font-size: 22px;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.2s;
}
.section .interface .img-sobre img {
  border-radius: 20px;
}



/* Estilo do Footer */
footer {
  width: 100%;
  color: rgb(255, 255, 255);
}

#footer-link {
  text-decoration: none;
}

#footer_content {
  background-color: rgb(0, 0, 0);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 3.5rem;
}
#footer_contacts h1 {
  margin-bottom: 0.75rem;
}
#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}
#footer_social_media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: black;
  border-radius: 50%;
  transition: 0.4s;
}

#footer_social_media .footer-link i {
  font-size: 1.25rem;
}

#footer_social_media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#github {
  background-color: #fcfcfc;
}

#twitter {
  background-color: #06a3fd;
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}
.footer-list .footer-link {
  color: rgb(124, 157, 190);
  transition: all 0.4s;
}
.footer-list .footer-link:hover {
  color: rgb(124, 157, 190);
}
.footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.footer_subscribe p {
  color: #a8a29e;
}
#input_group {
  display: flex;
  align-items: center;
  background-color: rgb(3, 3, 3);
  border-radius: 4px;
}
#input_group input {
  all: unset;
  padding: 0.75rem;
  width: 100%;
}
#input_group button {
  background-color: rgb(124, 157, 190);
  border: none;
  color: white;
  padding: 1.25rem;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: all 0.4s;
}
#input_group button:hover {
  opacity: 0.8;
}
#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}
@media screen and (max-width: 768px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 1020px) {
  /* Classes Gerais */
  .flex {
    flex-direction: column;
  }

  h2.titulo {
    color: #fff;
    font-size: 30px;
    text-align: center;
  }

  /* Cabeçalho */
  .menu-desktop,
  .btn-contato {
    display: none;
  }

  /* Topo do Site */

  section.topo-do-site .flex {
    gap: 40px;
  }

  section.topo-do-site {
    padding: 20px 8%;
  }

  .topo-do-site .img-topo-site img {
    width: 110%;
  }

  /* ESTILO DAS ESPECIALIDADES */
  section.especialidades-box {
    padding: 40px 9%;
  }

  /* SOBRE */

  section.sobre {
    padding: 90px 4%;
  }

  .sobre .txt-sobre h2 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  .btn-social {
    text-align: center;
  }
}

.projects {
  padding: 30px;
  display: grid;
  gap: 30px;
  justify-content: center;
  background-color: #151515;
}

.projects ul {
  justify-content: center;
  display: flex;
  gap: 30px;
}

.project_models ul li {
  cursor: pointer;
  font-family: "Poppins";
  background-color: #222;
  border: 1px solid #333;
  color: #707070;
  padding: 6px 20px;
}

.project_models ul li.ativo {
  background-color: #dc3545;
  color: #151515;
  font-weight: bold;
}

.projects_armazenamento ul {
  display: grid;
  margin-top: 60px;
  gap: 20px;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

.projects_armazenamento ul li {
  display: none;
  max-width: 100%;
  height: 100%;
}

.projects_armazenamento ul li.ativo {
  display: block;
  animation: animationButton 2s ease-in-out forwards;
}

.projects_armazenamento ul li img {
  cursor: pointer;
  max-width: 100%;
  height: 100%;
  border-radius: 4px;
}

.projects a {
  background-color: #222;
  text-decoration: none;
  padding: 20px 40px;
  justify-self: center;
  border-radius: 3px;
  color: #707070;
  border: 1px solid #333;
}

@keyframes animationButton {
  0% {
    opacity: 0;
    transform: translate3d(0, -90px, 0);
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0px, 0);
  }
}
